---
import Layout from '../layouts/PagesLayout.astro';
import home_img from '../assets/images/home_main.jpg';
---

<Layout title="Que Hacemos" imagePath={home_img}>


  <h1 slot="top" class="text-center">Qué hacemos</h1>



  <h2>¿En Qué Consisten Los Proyectos Interdisciplinares?</h2>
  
  <p class="width">
    Vivimos en una era en la que se compagina la especialización con la interdisciplinariedad. Cada
    día surgen nuevas demandas de la sociedad que crean nuevas carreras profesionales y nuevos
    retos, que requieren conocimientos de áreas muy diversas.
    <br />
    Con este curso pretendemos poner en práctica la especialización y la interdisciplinariedad, romper
    con la estructura encorsetada de asignaturas y grados y construir un espacio de encuentro entre alumnado
    y profesorado de ciencias para el desarrollo de proyectos concretos, mediante dinámicas participativas
    interdisciplinarias. Exactamente se plantearán siete proyectos originados en bioquímica, biología,
    física y óptica que serán realizados por grupos de seis estudiantes de distintas titulaciones con
    la tutorización de profesorado especialista. La heterogeneidad de los grupos de trabajo favorecerá
    la colaboración entre alumnado de distintos grados de ciencias.
    <br />

    Estas dinámicas de estudio distintas permitirán al alumnado:
    <br />
    Apreciar la necesidad de aprender un lenguaje común entre las distintas áreas de conocimiento involucradas
    en el proyecto que deberán desarrollar.
    <br />

    Aprender a reconocer la disciplina en la que se está formando (bioquímica, biología, física,
    óptica, matemáticas, …) como una de las partes necesarias para el buen desarrollo del proyecto
    del que forma parte.
    <br />

    Aprender a trabajar de forma colaborativa en equipos interdisciplinarios.
    <br />

    Aprender a desarrollar, redactar y presentar un proyecto interdisciplinario.
    <br />

    Finalmente, este curso ayudará también a:
    <br />

    Iniciar colaboraciones entre las distintas áreas de conocimiento en la Facultad de Ciencias.
    Desarrollar dinámicas de estudio diferentes que tratan de reducir la brecha de género en las
    carreras STEM.
  </p>
</Layout>
