---
import Layout from '../layouts/PagesLayout.astro';
import home_img from '../assets/images/home_main.jpg';
---

<Layout title="¿Quienes Somos?" imagePath={home_img}>


  <h1 slot="top" class="text-center">¿Quiénes somos</h1>




</Layout>
