---
const today = new Date();
---

<footer class="row">
  <div class="column">
    <img src="logo1.png" alt="Logo 1" />
    <img src="logo2.png" alt="Logo 2" />
    <img src="logo2.png" alt="Logo 2" />
  </div>
  <div class="column">
    <h5>Donde encontrarnos</h5>
    <p>Facultad de Ciencias de la Universidad de Granada</p>
    <a class="social-links" href="https://goo.gl/maps/K6eZqdto1TER6eeA8"
      >\ueb1c Avenida de Fuentenueva s/n. CP 18071, Granada.</a
    >
    <a class="social-links" href="mailto:interciencias@ugr.es">interciencias@ugr.es</a>
  </div>
  <div class="column">
    <h5>Enlaces de interés</h5>
    <a class="social-links" href="#">Contacto</a>
    <a class="social-links" href="#">Universidad de Granada</a>
    <a class="social-links" href="#">Facultad de Ciencias</a>
    <a class="social-links" href="#">Centro Mediterraneo</a>
    <a class="social-links" href="#">Proyectos Interdisciplinares CEMED</a>
  </div>
  <span class={
  'hello goodbye ' + (false ? 'hello' : '') + ` ${true ? 'world' : ''}`
} />

</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    color: white;
    background: linear-gradient(#383e32, #1b1b1b);
  }
  a.social-links {
    color: white;
    text-align: left;
  }

  a.social-links:hover {
    color: yellow;
  }

  h5 {
    color: white;
    margin-bottom: 1em;
  }
  p {
    margin-top: 0em;
    margin-bottom: 1em;
  }

  .column a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1;
    margin-right: 10px;
  }

  .column img {
    max-width: 100px;
  }
</style>
